/* CSS Document */

/* Toast.css */

.dark-toast {
	background-color: rgba(0,0,0,.7) !important;
  	color: #fff !important;
}

.dark-toast button {
	color: #fff;
	opacity: 1;
}

.dark-toast > .toastify__close{
  color: #fff;
}

.transparent-progress{
  background:  rgba(255,255,255,.7);
  /*background: "repeating-radial-gradient(circle at center, red 0, blue, green 30px)";*/
}


.dark-toast-body {
  display: -webkit-box;
  margin: 6px !important;
  overflow: hidden;
  line-height: 1.6em;
  text-overflow: ellipsis;
  word-wrap: break-word;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #fff;
  /*background-color: rgba(0,0,0,.7);*/
}