.myFlix .navbar {
	margin-bottom: 0 !important;
}

.myFlix .jumbotron {
	margin-bottom: 0 !important;
}


.myFlix .section-gray {
	background: #999;
}
.myFlix .section-gray h3  {
	color: #fff;
}


.myFlix section {
	padding: 30px 0px;
}

.myFlix .fa-color {
	color: #0383c0;
}

.myFlix .section-secondary {
	background-color: #e44d26;
	color: #ffffff;
	padding: 30px 0px;
}

.myFlix .slogan {
	text-align: center;
}

.myFlix .feature-list li {
	list-style: none;
	font-size: 18px;
	line-height: 2em;
}

.myFlix .section-primary {
	background-color: #0383c0;
	color: #ffffff;
	padding: 30px 0px;
}

.myFlix footer {
	text-align: center;
	height: 60px;
	background-color: #f4f4f4;
	padding-top: 20px;
}

.myFlix .section-title {
	padding: 10px;
    background-color: #0383c0;
    color: #ffffff;
}

.myFlix .section-title small {
	color: #cccccc !important;
}