/*@import url(http://weloveiconfonts.com/api/?family=brandico|entypo|openwebicons|zocial);*/

/* brandico */
.home [class*="brandico-"]:before {
  font-family: 'brandico', sans-serif;
}

/* entypo */
.home [class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* openwebicons */
.home [class*="openwebicons-"]:before {
  font-family: 'OpenWeb Icons', sans-serif;
}

/* zocial */
.home [class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}

.home .form-signin{
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


.home .login-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.home .login-input-pass {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


.home .signup-input {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.home .signup-input-confirm {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



.home .create-account {
  text-align: center;
  width: 100%;
  display: block;
}

.home .form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.home .btn-center{
  width: 50%;
  text-align: center;
  margin: inherit;
}

.home .social-login-btn {
  margin: 5px;
  width: 100%;
  font-size: 250%;
  padding: 0;
}

.home .social-login-more {
  width: 45%;
}

.home .social-google {
  background-color: #da573b;
  border-color: #be5238;
}
.home .social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}

.home .social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.home .social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.home .social-facebook {
  background-color: #4c699e;
  border-color: #47618d;
}
.home .social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.home .social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}
.home .social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}